
GLPI_RESTAPI_APP_TOKEN=04axspmuyojwgxa8cqlzq9bg4osdsliy8vq14th4
GLPI_RESTAPI_USER_TOKEN=24m28tnl6j4bks9y9rhilczgcbf11s6ikkzfuz4j
GLPI_RESTAPI_USERNAME=glpi
GLPI_RESTAPI_PASSWORD=glpi
GLPI_RESTAPI_URL=http://localhost/apirest.php

